# 下载包时使用的仓库组
registry=https://nexus.weidu.ac.cn/repository/npm-group/
# 配置 npm 客户端行为
always-auth=true
# 配置发布到私服的认证信息
https://nexus.weidu.ac.cn/repository/npm-hosted/:_auth=YWRtaW4vZm94QGFkbWlu
# 配置发布到指定注册源
publishConfig[registry]=https://nexus.weidu.ac.cn/repository/npm-hosted/
